$default-font-size:16px;
$default-font-family:'Montserrat', sans-serif;
$default-font-color:black;
$default-background-color:#fff;
$default-line-height:1.42857143;

*{
  box-sizing: border-box;
}

html{
  width:100%;
  height:100%;
}

body{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  font-size: $default-font-size;
  line-height: $default-line-height;
  color:$default-font-color;
  background-color: $default-background-color;
  font-family: $default-font-family;
}

h1, h2, h3, h4, h5, h6, p,ul,ol {
  margin: 0px;
  padding: 0px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: $default-font-size*2.3;
  line-height: 60px;
  letter-spacing: 2px;
  font-weight: bold;
}

ul, ol {
  list-style: none;
}

a, a:hover, a:focus{
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container{
  margin:20px auto;
  position: relative;
  top:120px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}