.header{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  max-height:100px;
  z-index: 20;
  background-color: #003831;
  .showMenu{
    display:none;
  }
  .menu{
    li{
      display:inline-block;
      a{
        color:#fff;
        text-transform: capitalize;
        display: block;
        padding: 25px 12px;
        font-size:20px;
        font-weight: bold;
        &:hover{
          color:gray;
        }
      }
    }
  }
}