$light-blue: #3cadd4;
$light-green: #add43c;
$light-pink: #d43c61;
$light-gray: rgba(255, 255, 255, 0.5);
$white: #ffffff;
$black-on-icon: #474747;
$black: #444444;
$background-color: #f5f5f5;
$default-font-size: 16px;
$font-family-for-all-platforms: Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro',
  '微軟正黑體', 'Microsoft JhengHei', '標楷體', DFKai-SB, sans-serif;
